[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "changeS"]
	path = changeS
	url = https://github.com/matloff/changes
[submodule "dsld"]
	path = dsld
	url = https://github.com/matloff/dsld
[submodule "partools"]
	path = partools
	url = https://github.com/matloff/partools
[submodule "polyreg"]
	path = polyreg
	url = https://github.com/matloff/polyreg
[submodule "qeML"]
	path = qeML
	url = https://github.com/matloff/qeml
[submodule "regtools"]
	path = regtools
	url = https://github.com/matloff/regtools
[submodule "toweranNA"]
	path = toweranNA
	url = https://github.com/matloff/toweranna
